
{% extends "base.html.twig" %} 

{% block body %} 
   <div class="container my-5">
     <div class="small-block">
       <h1>Mot de passe oublié</h1>
       {{form(forgotPasswordForm)}}
       <br/>
			Vous avez deja un compte?<a href="{{ path('app_login') }}">Connectez-vous</a>
      </div>
   </div>
{% endblock %}